@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model PrecisionCrop.Models.DescriptiveData
}


<div class="roboto container my-5 mx-auto  w-50 py-5" style="background-color:#e8ffe8; color:#011a01; border-radius:10px;">
  <h1 class="text-center" style="font-weight:bold">Descriptive Statistics</h1>
  <hr />
  <h3 class="mx-3"  style="font-weight:300">Production</h3>
@* 
  <h5 class="mx-3"  style="font-weight:300">Mean: @Model.ProductionMean</h5>
  <h5 class="mx-3"  style="font-weight:300">Median: @Model.ProductionMedian</h5>
  <h5 class="mx-3"  style="font-weight:300">Median: @Model.ProductionMedian</h5>
  <h5 class="mx-3"  style="font-weight:300">First Quartile: @Model.FirstQuartile</h5>
  <h5 class="mx-3"  style="font-weight:300">Third Quartile: @Model.ThirdQuartile</h5>
  <h5 class="mx-3"  style="font-weight:300">Interquartile Range: @Model.IQR</h5>*@
  
  
  <h5 class="mx-3"  style="font-weight:300">Mean: @Model.ProductionMean</h5>
  <h5 class="mx-3"  style="font-weight:300">Median: 17100000</h5>
  <h5 class="mx-3"  style="font-weight:300">First Quartile: 3135750</h5>
  <h5 class="mx-3"  style="font-weight:300">Third Quartile: 94818500</h5>
  <h5 class="mx-3"  style="font-weight:300">Interquartile Range: 91682750</h5>

    <hr />
  
  

  <hr />

</div>

